<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form method="POST" action="/admin/login">
            <div class="frame-sizeinputs">User: 
              <input type="text" name="email" value=""><i class="i-blank"></i>
            </div>
            <div class="frame-sizeinputs">Password:
                    <input type="password"  placeholder="Password" class="sizeinputs border-inputs"><i class="far fa-eye-slash"></i>
            </div>   
            <input type="submit" id="email" value="Registrarme" class="sizeinputs btn-submit">
          </form>
</body>
</html>